<mat-toolbar color = "primary">
    <a 
    [routerLink] = "'/'"
    mat-icon-button class="example-icon" 
    arial-label="Example icon-button with menu icon">
        <mat-icon>library_books</mat-icon>
        
    </a>
    <span class="mt5 fs10">Portal de exámenes</span>
    <span class="example-spacer"></span>

    <button
        *ngIf="!login.isLoggedIn() && !isLoginPage()"
        [routerLink] = "'/login'" 
        mat-button class = "example-icon favorite-icon mt5"
        arial-label="Example icon-button with menu icon">
       <span class="fs10">Iniciar sesión</span> 
    </button>
    <button
        *ngIf="login.isLoggedIn() && user"
        mat-button
        style = "margin-right: 30px;"
        class = "example-icon favorite-icon mt5"
        arial-label="Example icon-button with menu icon"
        routerLink="/admin/profile">
        <span class="fs10">{{ user.username | titlecase }}</span>
    </button>
    <button
        *ngIf="login.isLoggedIn()"
        (click) = "logout()"
        mat-button class = "example-icon favorite-icon mt5"
        arial-label="Example icon-button with menu icon">
        <span class="fs10">Cerrar sesión</span> 
    </button>

</mat-toolbar>