<mat-card class="card">
    <h2 class="text-center mt10 mb4">AGREGAR NUEVO EXÁMEN</h2>
    <mat-divider class="divider"></mat-divider>
    <div class="row mt40">
        <div class="col md-8 offset-md-2">
            <form (ngSubmit) = "saveExam()">
                <mat-form-field class="wi80" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input 
                    [(ngModel)]= "examData.title"
                    type="text"
                    name="title"
                    placeholder="Ingrese el título del exámen"
                    matInput>
                </mat-form-field>
                <mat-form-field class="wi80" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea 
                    [(ngModel)]= "examData.description"
                    type="text"
                    name="description"
                    placeholder="Ingrese la descripción"
                    matInput
                    rows="8"></textarea>
                </mat-form-field>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="wi80" appearance="fill">
                            <mat-label>Puntaje máximos</mat-label>
                            <input 
                            [(ngModel)]= "examData.maxScore"
                            type="text"
                            name="puntajeMaximo"
                            placeholder="Ingrese la cantidad de puntos máximos"
                            matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 ml-10">
                        <mat-form-field class="wi80" appearance="fill">
                            <mat-label>Número de preguntas</mat-label>
                            <input 
                            [(ngModel)]= "examData.questionsAmount"
                            type="text"
                            name="numeroDePreguntas"
                            placeholder="Ingrese la cantidad de preguntas"
                            matInput>
                        </mat-form-field>
                    </div>
                </div>
                <mat-slide-toggle class="ml20" name="enabled" [(ngModel)]= "examData.enabled" color="primary">
                    Estado de publicación
                </mat-slide-toggle>
                <mat-form-field appearance="fill" class="mt10 ml258 wi39">
                    <mat-label>Categoría</mat-label>
                    <mat-select name="category" [(ngModel)]= "examData.category.categoryId">
                        <mat-option *ngFor= "let c of categories" [value]="c.categoryId">
                            {{ c.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="container mt40 text-center">
                    <button mat-raised-button color="primary">Guardar exámen</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>