<mat-card class="card mt20 h650">
    <h2 class="text-center mt10 mb4">DATOS PERSONALES</h2>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center mt10">
                    <img src="../../../assets/images/default-profile.jpg"
                     alt="Perfil" class="profile-image">
                     <h1 class="mt10">{{ user.name | titlecase }} {{ user.lastName | titlecase }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de usuario</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{ user.userId }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>{{ user.phoneNumber }}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{ user.authorities[0].authority }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ user.enabled ? "Activo" : "No activo" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class="buttons-profile mt20">
            <button mat-raised-button color="primary" class="mr20">Actualizar</button>
            <button mat-raised-button color="accent">Compartir</button>
            <button routerLink="/admin" mat-raised-button class="ml20">Volver</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>