.divider {
    margin: 0px 15px;
}

.profile-image {
    max-width: 150px;
    max-height: 150px;
    border: 2px solid gainsboro;
    border-radius: 50%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr td {
    padding: 15px 10px;
    border: 0.5px solid gainsboro;
    width: 33%;
    box-sizing: border-box;
}

table tr td:nth-child(2) {
    width: 67%;
}

.buttons-profile {
    display:flex;
    align-items: center;
    justify-content: center;
}

.mb4{
    margin-bottom: 4px;
}

.mt12{
    margin-top: 12px;
}