<div class="bootstrap-wrapper" *ngIf = "!itWasSent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;">
                    <mat-card-content>
                        <h3><b>Instrucciones</b></h3>
                        <ul>
                            <li>No actualize la pagina.</li>
                            <li>No cambies de pestaña.</li>
                            <li>No minimices la ventana.</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-7">
                <ng-container *ngIf = "questions">
                    <h1 class = "mt20">
                        Exámen en curso: <b>{{ questions[0].exam.title }}</b>
                    </h1>
                </ng-container>
                <mat-card *ngFor = "let q of questions; let i = index">
                    <mat-card-content>
                        <p><b>{{ i+1 }}) </b><span [innerHTML] = "q.content"></span></p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.firstOption" name = {{i}}> {{ q.firstOption }}
                            </div>
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.secondOption" name = {{i}}> {{ q.secondOption }}
                            </div>
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.thirdOption" name = {{i}}> {{ q.thirdOption }}
                            </div>
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.fourthOption" name = {{i}}> {{ q.fourthOption }}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20 mb20">
                    <button (click) = "sendExam()" mat-raised-button color = "primary">Enviar respuesta</button>
                </div>
            </div>
            <div class="col-md-3">
                <mat-card style="margin-top:70px;">
                    <mat-card-header>
                        <mat-card-title>
                            Temporizador
                        </mat-card-title>
                        <mat-card-subtitle>
                            El exámen se enviará automaticamente cuando el temporizador llegue a 0
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center">{{ getFormattedTime() }}</h1>
                        <mat-spinner mode="determinate" style="margin: auto;" [value] = "(timer/(this.questions.length * 2 * 60)*100)"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div class="bootstrap-wrapper" *ngIf = "itWasSent">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Resultado del exámen
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Puntos conseguidos : {{ pointsAchieved }}</h1>
                    <h1>Respuestas correctas : {{ correctAnswers }}</h1>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button (click)="printPage()" mat-raised-button color="primary">Imprimir</button>
                    <button mat-raised-button color="accent" [routerLink] = "'/user-dashboard/0'">Inicio</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>