<mat-card class="mt20 h650">
    <h2 class="text-center mt10">LISTA DE CATEGORÍAS</h2>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content class="mt5">
        <div class="bootstrap-wrapper">
            <mat-list>
                <ng-container *ngFor = "let c of categories">
                    <div class="list-item-icon full-width mt15">
                        <mat-icon mat-list-icon class="mr20">category</mat-icon>
                        <div class="mb15">
                            <div mat-line>{{ c.title }}</div>
                            <div mat-line>{{ c.description }}</div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </div>
    <mat-action-list class="text-center mt20">
      <button routerLink="/admin/add-category" mat-raised-button color="primary">Agregar categoría</button>
      <button routerLink="/admin" mat-raised-button class="ml20">Volver</button>
    </mat-action-list>
    </mat-card-content>
  </mat-card>