.divider {
    margin: -12px 15px;
}

.container-categories {
    max-height: 517px;
    overflow-y: auto;
}

.list-item-icon {
    display: flex;
    align-items: center;
    width: 100%;
}

.right-items {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}