.login-card {
    margin-top: 60px;
}

.center {
    margin: auto;
    display: block;
}

.btns {
    margin-bottom: 40px;
}

.btn-into {
    background: #263238;
    color: white;
}

.btns-sign-back {
    margin-left: 20px;
}