<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt40">
                    <div class="container text-center mt20">
                        <img src="../../../assets/images/login.png" width="100" height="100">
                    </div>
                    <h1 class="text-center">Inicio de sesión</h1>
                    <form (ngSubmit) = "formSubmit()">
                        <mat-form-field class="wi80 center" appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input [(ngModel)] = "loginData.username" name = "username" required matInput placeholder = "Ingrese su nombre de usuario">
                            <mat-hint>Ingrese su nombre de usuario.</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="wi80 mt20 center" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input [(ngModel)] = "loginData.password" name = "password" required type="password" matInput placeholder = "Ingrese su contraseña">
                            <mat-hint>Ingrese su contraseña.</mat-hint>
                        </mat-form-field>
                        <br><br>
                        <div class="container text-center mt20 mb20">
                            <button type="submit" mat-raised-button class="btn-into">Ingresar</button>
                            <button [routerLink] = "'/signup'" style="margin-left: 20px;" mat-raised-button color="accent">Registrar</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>