<body [ngClass]="{'disable-body': isLoginPage}">
    <ngx-ui-loader 
    fgsColor = "#fbfffb"
    pbColor = "#fbfffb"
    text = "Espere por favor ..."
    textColor = "#fbfffbs"
    >
    </ngx-ui-loader>
    <div ngxUiLoaderBlurred (blur) = "10"></div>
    <app-navbar></app-navbar>
    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    <app-body 
        [collapsed]="isSideNavCollapsed"
        [screenWidth]="screenWidth"
    ></app-body>
    <router-outlet></router-outlet>
</body>
