.exam-title {
    margin-top: -7px;
}

.divider {
    margin: -12px 15px;
}

.card-content {
    margin-top: -8px;
}

.ul {
    margin-top: -10px;
}

.buttons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-divider {
    margin: 0px 15px;
}