.menu-header {
    margin-left: 25px !important;
}

.container-sidebar {
    overflow-y: auto;
}

.section-icon {
    vertical-align: middle;
}

.section-header {
    margin-left: 12px;
}



.divider {
    margin: -9px 15px;
}
