.card {
    height: 677px;
}

.divider {
    margin: -12px 15px;
}

.example-header-image {
    background-image: url('../../../../../assets/images/exam.png');
    background-size: cover;
}

.container-exams {
    max-height: 517px;
    overflow-y: auto;
}

.false-button {
    pointer-events: none;
}

.buttons-update-delete {
    display: flex;
    flex-direction: column;
    margin-top: -55px;
}

.buttons-update-delete button {
    width: 110px;
}

.mr310 {
    margin-right: 310px !important;
}

