.example-header-image {
    background-image: url('../../../../../assets/images/exam.png');
    background-size: cover;
}

.container-exams {
    max-height: 610px;
    overflow-y: auto;
}

.false-button {
    pointer-events: none;
}

.buttons-update-delete {
    display: flex;
    flex-direction: column;
    margin-top: -55px;
}

.buttons-update-delete button {
    width: 110px;
}

.mr350 {
    margin-right: 350px !important;
}

