<mat-card class="card">
    <h2 class="text-center mt10">EXÁMENES</h2>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content class="mt30">
    <div class="container-exams">
        <mat-card class="mt10 ml30 mr60" *ngFor = "let e of exams">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ e.title }}</mat-card-title>
                <mat-card-subtitle>{{ e.category.title }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary" [routerLink] = "'/admin/view-questions/'+e.examId+'/'+e.title">Questionario</button>
                    <button mat-stroked-button color="primary" class="ml20 false-button">Puntos máximos: {{ e.maxScore }}</button>
                    <button mat-stroked-button color="primary" class="ml20 false-button">Preguntas: {{ e.questionsAmount }}</button>
                    <button mat-stroked-button color="primary" class="ml20 false-button">Estado: {{ e.enabled }}</button>
                    <button mat-flat-button color="primary" class="ml20 mr310">Intentos</button>
                    <div class="buttons-update-delete">
                        <button [routerLink] = "'/admin/exam/' +e.examId" mat-flat-button color="primary" class="mb20">Actualizar</button>
                        <button mat-flat-button color="warn" (click) = "deleteExam(e.examId)">Eliminar</button>
                    </div> 
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="container text-center mt30">
        <button mat-raised-button color="primary" routerLink="/admin/add-exams">Agregar exámen</button>
        <button mat-raised-button class="ml20" routerLink="/admin">Volver</button>
    </div>
    </mat-card-content>
</mat-card>