.divider {
    margin: -12px 15px;
}

.example-header-image {
    background-image: url('../../../../../assets/images/exam.png');
    background-size: cover;
}

.container-exams {
    max-height: 517px;
    overflow-y: auto;
}

.exam-card {
    
}

.false-button {
    pointer-events: none;
}

.buttons-update-delete {
    display: flex;
    flex-direction: column;
    margin-top: -55px !important;
    margin-left: auto;
    margin-right: 30px;
}


