<mat-card class="card">
    <mat-action-list>
        <h2 class="ml18">MENU</h2>
        <mat-divider class="divider"></mat-divider>
        <button mat-list-item routerLink="/admin" class="mb30 mt40">
            <mat-icon mat-list-icon class="icon">home</mat-icon> 
            <span class="ml10">Inicio</span>
        </button>
        <button mat-list-item routerLink="/profile" class="mb30">
            <mat-icon mat-list-icon class="icon">account_circle</mat-icon> 
            <span class="ml10">Perfil</span>
        </button>
        <button mat-list-item routerLink="/admin/view-users" class="mb30">
            <mat-icon mat-list-icon class="icon">person</mat-icon> 
            <span class="ml10">Usuarios</span>
        </button>
        <button mat-list-item routerLink="/admin/categories" class="mb30">
            <mat-icon mat-list-icon class="icon">list</mat-icon> 
            <span class="ml10">Categorías</span>
        </button>
        <button mat-list-item routerLink="/admin/profile" class="mb30">
            <mat-icon mat-list-icon class="icon">menu_books</mat-icon> 
            <span class="ml10">Cursos</span>
        </button>
        <button mat-list-item routerLink="/admin/view-exams" class="mb30">
            <mat-icon mat-list-icon class="icon">quiz</mat-icon> 
            <span class="ml10">Examenes</span>
        </button>
        <button mat-list-item (click)="logout()">
            <mat-icon mat-list-icon class="icon">exit_to_app</mat-icon> 
            <span class="ml10">Salir</span>
        </button>
        
    </mat-action-list>
</mat-card>