<mat-card>
    <mat-action-list>
        <h2 class="ml18">MENU</h2>
        <mat-divider class="divider"></mat-divider>
        <button mat-list-item routerLink="/admin" class="mb10 mt20">
            <mat-icon mat-list-icon class="icon">home</mat-icon> 
            <span class="ml10">Inicio</span>
        </button>
        <button mat-list-item routerLink="/admin/profile" class="mb10">
            <mat-icon mat-list-icon class="icon">account_circle</mat-icon> 
            <span class="ml10">Perfil</span>
        </button>
        <button mat-list-item routerLink="/admin/view-users" class="mb10">
            <mat-icon mat-list-icon class="icon">person</mat-icon> 
            <span class="ml10">Usuarios</span>
        </button>
        <button mat-list-item routerLink="/admin/categories" class="mb10">
            <mat-icon mat-list-icon class="icon">list</mat-icon> 
            <span class="ml10">Categorías</span>
        </button>
        <button mat-list-item routerLink="/admin/add-category" class="mb10">
            <mat-icon mat-list-icon class="icon">add_circle_outline</mat-icon> 
            <span class="ml10">Agregar categorías</span>
        </button>
        <button mat-list-item routerLink="/admin/view-exams" class="mb10">
            <mat-icon mat-list-icon class="icon">menu_books</mat-icon> 
            <span class="ml10">Cursos</span>
        </button>
        <button mat-list-item routerLink="/admin/profile" class="mb10">
            <mat-icon mat-list-icon class="icon">add_circle_outline</mat-icon> 
            <span class="ml10">Agregar cursos</span>
        </button>
        <button mat-list-item routerLink="/admin/profile" class="mb10">
            <mat-icon mat-list-icon class="icon">quiz</mat-icon> 
            <span class="ml10">Examenes</span>
        </button>
        <button mat-list-item routerLink="/admin/profile" class="mb10">
            <mat-icon mat-list-icon class="icon">add_circle_outline</mat-icon> 
            <span class="ml10">Agregar examenes</span>
        </button>
        <button mat-list-item routerLink="/admin/profile" class="mb40">
            <mat-icon mat-list-icon class="icon">exit_to_app</mat-icon> 
            <span class="ml10">Salir</span>
        </button>
        
    </mat-action-list>
</mat-card>