/* GLOBAL STYLES */
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #f5f5f5;
}

.text-center {
    text-align: center;
}

/* WIDTH */
.full-width {
    width: 100%;
}

.wi100 {
    width: 100%;
}

.wi80 {
    width: 80%;
}

/* MARGIN 5PX */
.mt5 {
    margin-top: 5px !important;
}

/* MARGIN 10PX */
.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

/* MARGIN 15PX */
.mt15 {
    margin-top: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

/* MARGIN 20PX */
.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

/* MARGIN 30PX */
.mt30 {
    margin-top: 30px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

/* MARGIN 40PX */
.mb40{
    margin-bottom: 40px !important;
}

.mt40{
    margin-top: 40px !important;
}

/* MARGIN 60PX */
.mr60{
    margin-right: 60px !important;
}

/* MARGIN 70PX */
.mt70 {
    margin-top: 70px !important;
}
