<mat-card class="card">
    <h2 class="text-center mt10">LISTA DE USUARIOS</h2>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content class="mt5">
        <div class="bootstrap-wrapper">
            <mat-list>
                <ng-container *ngFor = "let u of users">
                    <div class="list-item-icon mt15">
                        <mat-icon mat-list-icon class="mr20">person</mat-icon>
                        <div class="item-details mb15">
                            <div mat-line>{{ u.username }}</div>
                            <div mat-line>{{ u.name | titlecase }}  {{ u.lastName | titlecase }}</div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </div>
    <mat-action-list class="container text-center mt20">
      <button routerLink="/admin/add-category" mat-raised-button color="primary">Agregar categoría</button>
    </mat-action-list>
    </mat-card-content>
  </mat-card>